{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ site_title|default:_('Offers App Admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Offers App Admin</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% load i18n static admin_list %}
{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/foldable-list-filter.css" %}" />
{% endblock %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript" src="{% static "admin/js/jquery-1.x.y.min.js" %}"></script>
<script type="text/javascript" src="{% static "admin/js/foldable-list-filter.js" %}"></script>
<script type="text/javascript" src="{% static "admin/js/jquery.cookie.js" %}"></script>
{% endblock %}
