{% load i18n staticfiles clever_selects_extras %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
   <head>
      <title>Send Notifications</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <style>
         .form-control{
         width: 300px !important;
         }
         * {
         margin: 0;
         padding: 0;
         }
         body {
         font-family: Helvetica, sans-serif;
         background: rgba(121,176,200,0.43);
         }
         #page-wrap {
         width: 660px;
         background: #417690;
         padding: 40px 50px 20px 50px;
         margin: 20px auto;
         min-height: 500px;
         height: auto !important;
         height: 500px;
         }
         .msgs{
         color: #eea236;
         font-size: 20px;
         }
         ul{
         list-style: none;
         }
         ul, li {
         display:inline;
         margin-left: 10px;
         color: #ccc;
         }
         .btn-danger{
           background-color: #a7a7a7 !important;
         }
      </style>
   </head>
   <body>
      <div id="page-wrap">
      <div class="container">
        <a href="../"><button class="btn btn-danger">Back To Admin</button></a>
        <br />
        <br />
         <!-- <label for="Message">Message:</label><br />
            <textarea name="Message" rows="20" cols="20" id="Message"></textarea> -->
         <h1 style="color:white">Publish Notification</h1>
         <br />
         <form class="col-md-8" method="post">
            <div class="form-group">
               <br/>
               {% csrf_token %}
               <div class="msgs">
                  {% if messages %}
                  <ul class="messages">
                     {% for message in messages %}
                     <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                     {% endfor %}
                  </ul>
                  {% endif %}
               </div>
               <p>{{ form.message.errors.as_text }}</p>
               <label for="comment" style="color:white">Message:</label>
               <br />
               {{form.message}}
               <br />
               <br />
               <p>{{ form.group.errors.as_text }}</p>
               <label for="comment" style="color:white">Devices:</label>
               <br />
               {{form.group}}
               <br />
               <br />
               <label for="gender" style="color:white">Gender :	</label>
               <br />
               {{form.gender}}
               <br />
               <br />
               <label for="age" style="color:white">Age :	</label>
               {{form.age}}
               <br />
               <br />
               <label for="age" style="color:white">Offer Type :	</label>
               {{form.offer_choice}}
               <br />
							 <br />
               <label for="for_offer" style="color:white">For Offer :	</label>
               {{form.for_offer}}
               <br />
               <br />
               <label for="country" style="color:white">Country :	</label>
               {{form.country}}
               <br />
							 <br />
               <label for="city" style="color:white">City :	</label>
               {{form.city}}
               <br />
							 <br />
               <label for="region" style="color:white">Region :	</label>
               {{form.region}}
               <br />
               <br />
               <div class="form-actions">
                  <button type="submit" class="btn btn-warning">Send</button>
               </div>
         </form>
         {% block extra_content %}{% endblock %}
         <script type="text/javascript" src="{% static 'js/clever-selects.js' %}"></script>
				 <div id="responsecontainer" align="center"></div>
         </div>
      </div>
   </body>
   <!-- <script>
	 	$(document).ready(function(){
			$('select[name=country]').change(function(){
        country_id = $(this).val();
        request_url = '/get_cities/' + country_id + '/';
        $.ajax({
            url: request_url,
            success: function(data){
							var $el = $('select[name=city]');
							$el.empty();
              $.each(JSON.parse(data), function(key, value){
                $('select[name=city]').append('<option value="' + key + '">' + value +'</option>');
                // $el.append($("<option></option>")
								// .attr("value", key).text(value));
              });
          	}
        })
    })

		$('select[name=city]').change(function(){
			$('select[name=region] option[value]').remove();
			city_id = $(this).val();
			request_url = '/get_regions/' + city_id + '/';
			$.ajax({
					url: request_url,
					success: function(data){
							$('select[name=region]').append('<option value="' + 0 + '">' + 'All' +'</option>');
							$.each(JSON.parse(data), function(key, value){
								$('select[name=region]').append('<option value="' + key + '">' + value +'</option>');
							});
					}
			})
	})

		});

   </script> -->
</html>
